/* Generals */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.big-container{
    width: 1200px;
    margin: 0 auto;
}

.small-container{
    width: 1000px;
    margin: 0 auto;
}

main{
    margin-top: 80px;
}

section{
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

body{
    padding-top: 71px;
}

h2{
    font-size: 35px;
    margin: 40px 0 40px 0;
}

h3{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 40px;
}

h3 , h4{
    margin: 20px 0 20px 0;
}

h4{
    font-size: 18px;
}

h5{
  font-size: 15px;  
}

p{
    font-weight: bold;
}


address{
    font-style: normal;
}

footer{
    background-color: black;
    color: white;
    margin-top: 100px;
}

.btn:hover{
    filter: brightness(1.5);
 }

 
/* Utilites */

.clearfix::after{
    clear: both;
    display: table;
    content: '';
}

.col{
    float: left;
}

.gutter{
    margin-left: 20px;
    margin-right: 20px;
}

.neg-margin{
    margin-left: -20px;
    margin-right: -20px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.btn{
    color: white;
    background-color: rgb(2,98,255); 
}

.btn-big{
    padding: 14px 20px 14px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.green{
    background-color: rgb(162,211,155);
}

.purple{
    background-color: rgb(97,8,43);
}

.doggerblue{
    background-color: rgb(0,147,206);
}

.red{
    background-color: rgb(255,28,28);
}

.dark-red{
    background-color: rgb(213,0,31);
}

.light-blue{
background-color: rgb(180,208,231);
}

.bloo{
    background-color: rgb(13,36,129);
}

.gold{
    background-color: rgb(255,216,48);
}

.bnt-small{
    padding: 9px 18px 9px 18px;
    margin-right: 15px;
}

.spotlight-title,  .price-footer, main img {
    width: 100%;
}

.bold-text{
    font-weight: bold;
}

 .price-footer-bottom , .price-footer-top{
    border: 1px solid rgb(220,220,222);
}


/* HEADER-BAR  */


.header-bar{
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 72px;
    line-height: 72px; 
    box-shadow: 0 1px 1px lightgrey;
}

.header-bar .row{
    width: 100%;
    height: 100%;
}

#logo-dropbox{
    line-height: 100%;
    padding-left: 15px;
    vertical-align: middle;
}

header ul.main{
    display: inline-block;
    height: 100%;
}

ul.main > li {
    border-bottom: 2px solid transparent;
}
ul.main > li:hover {
    border-bottom: 2px solid black;
}

header li{
    display: inline-block;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

header li a{
    font-size: 18px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.help-ul {
    border: 1px solid rgb(220,220,222);
    background-color: white;
    position: absolute;
    top: 100%;
    right: 30%;
    display: none;
}

.help-ul li {
    position: relative;
    display: block;
    text-align: left;
}

.help-btn:hover ul{
    display: block;
}

/* SPOTLIGHT  */

.spotlight{
    background-color: rgb(180,208,231);
    max-height: 620px;
}

.spotlight-title{
    padding-top: 30px;
}

header .spotlight .row{
    margin-top: 30px;
}

.spotlight-title h1{
    font-size: 80px;
}

header .col-40{
    width: calc(40% - 40px) ;
    font-size: 20px;
}

header p{
    margin-bottom: 30px;
    font-size: 18px;
}


header span{
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
}

.fa-arrow-down{
    font-size: 45px;
    margin-top: 20px;
    transition: 1s;
    animation: updown 1s infinite linear;
}


@keyframes updown{
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0);
    }
}

.spotlight .col-60 img{
    width: 100%;
}



/* SECTION-PRICE  */


.check-radio{
    margin: 30px 0 30px 0;
}

#radio-blue::after , #radio-white::after{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid black;
}

#radio-blue:checked::after , #radio-white:checked:after{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid rgb(14,106,255);
}

.price .col-33{
    border: 1px solid rgb(220,220,222);
}

.abb-type{
    font-size: 20px;
    padding: 7px 0 7px 0;
}

.content-33{
    width: 80% ;
    margin: 0 auto;
}

.content-33 li{
    margin-top: 30px;
    margin-bottom: 30px;
}

.abb-pro li a{
    display: inline-block;
}

.abb-pro hr{
    width: 30%;
}


.abb-pro .last-ul{
    margin-bottom: 200px;
}

.indent{
    text-indent: -0.75rem;
    padding-left: 1.5rem;
}

.abb-pro .fa-check{
    color: rgb(24, 102, 248);
    font-size: 20px;
}



/* PRICE-FOOTER  */


.price-footer{
    margin-top: 80px;
}

.price-footer-top{
    padding: 10px;
}

.price-footer-bottom{
    position: relative;
    padding: 30px;
}

.price-footer-bottom a{
    position: absolute;
    left: 75%;
    top: 15px;
}



/* SEZIONE CONTATTO  */


.contatto .col-50{
    width: calc(50% - 40px);
 }

 .content-50{
    padding: 0 20px 20px 20px;
}

.content-50 p{    
        margin-top: 40px;
        margin-bottom: 40px;
}

.content-50 a{
    background-color: white;
    border: 1px black solid;
    color: black;
}



/* SECTION-OPERAZIONI  */

.operazioni .row{
    margin-bottom: 70px;
}

.operazioni p{
    margin-top: 40px;
    margin-bottom: 40px;
}



/* SECTION-CLIENTI  */

.titolo-clienti{
    width: 100%;
}

.titolo-clienti h2{
    width: 60%;
}

.titolo-clienti a{
    text-decoration: underline;
    color: blue;
}

.clienti .row{
    margin: 100px 0px 0px 0px;
}

.col-30{
    width: 30%;
    height: 30vw;
}

.client-box{
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
    transition: 0.5s;
}

.client-box:hover{
    border: 10px solid rgb(201,230,198);
}

.clienti-boxes img{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    filter: invert(100%);
}

.clienti  img{
    width: 150px;
    height: 100px;
    object-fit: contain;
}

.clienti .col-40{
    background-color: rgb(245,245,245);
    height: 30vw;
}

.soluzioni-paper{
    padding: 35px;
}

.soluzioni-paper hr{
    width: 10%;
}

.clienti .col-40 p{
    margin: 20px 0 40px 0;
    font-size: 18px;
}


.clienti-footer{
    background-color: rgb(180,208,231);
    height: 400px;
}

.clienti-footer .row{
    margin: 0 0 100px 0;
}

.content50{
    height: 400px;
   position: relative;
}

.clienti-footer h2{
    color: rgb(113,47,79);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.clienti-footer a{
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    font-weight: bolder;
    padding: 12px 80px 12px 80px;
}



/* SECTION-DOMANDE  */

.domande .row{
    margin: 20px 0 20px 0;
}

.question-left {
    position: relative;
}

.hidden-p{
    display: none;    
    margin: 40px 0 40px 0;
    transition: 3s;
}

.domande .row:hover .hidden-p{
    display: block;
}
 


/* Header-layout */


.col-50{
    width: 50%;
    height: 100%;
}


.col-40{
    width: 40%;
    font-size: 20px;
}

.col-60{
    width: calc(60% - 40px) ;
}


/* MAIN-LAYOUT */

.col-33{
    width: calc(100% / 3 - 40px);
}
 

/* MAIN-STYLE */

/* Titolo e radio  */

label{
    margin: 0 20px 0 15px;
}

/* Sezione price-abbonamenti */


/* Price footer  */



/* Sezione Contatto */



/* Sezione operazioni  */


/* Sezione Clienti e loghi */



/* Sezione Clienti footer  */



/* Sezione domande  */



/* FOOTER-LAYOUT */

.col-20{
    width:20%;
}


/* FOOTER-STYLE */

footer .row{
    padding: 80px 0 100px 0;
}

footer li{
    margin: 20px 0 20px 0;
}

.footer-len{
    padding: 30px 0 30px 0;
}

footer hr{
    width: 10%;
}


/* HOOVER-ACTIVE */



