/* Generals */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-container{
    width: 1200px;
    margin: 0 auto;
}

.small-container{
    width: 1000px;
    margin: 0 auto;
}

main{
    margin-top: 80px;
}

section{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Utilites */

.clearfix::after{
    clear: both;
    display: table;
    content: '';
}

.col{
    float: left;
}

/* Header-layout */

.col-50{
    width: 50%;
    height: 80px;
    background-color: red;
    border: 1px solid black;
}

.spotlight-title{
    width: 100%;
    height: 200px;
    background-color: green;
}

.col-40{
    width: 40% ;
    height: 400px;
    background-color: purple;
}

.col-60{
    width: 60%;
    height: 400px;
    background-color: royalblue;
}

/* MAIN-LAYOUT */
 
.col-30{
    width: 30%;
    height: 400px;
    background-color: brown;
    border: 1px solid black;
}

.price-footer{
    width: 100%;
    height: 100px;
    background-color: salmon;
}

.titolo-clienti{
    width: 100%;
    height: 100px;
    background-color: blue;
}

.domande{
    background-color: darkgreen;
    height: 400px;
}

/* FOOTER-LAYOUT */

.col-20{
    width:20%;
    height: 400px;
    background-color: darkorange;
}
